/* .header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(23, 209, 42, 0.735);
}
.nav1{
    list-style: none;
    display: flex;
    
}
.header a{
    text-decoration:underline;
}
.nav1 li{
    padding: 0 1rem;
    
}

.nav1 li a{
    
    padding: 0px 10px;
    font-size: 1.5rem;
    font-weight: 400;
} */
        